#headermaindiv{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}
#div1,#div2{
  width: 50%;
  margin: 5%;
}
#explorebtn{
  color: black;
  background-color: white;
  height: 7%;
  width: 40%;
  font-size: 1.2em;
  font-weight: 600;
}
#explorebtn:hover{
  background-color: rgb(206, 178, 141);
}
#welcomeimg{
  width: 90%;
  height:100%;
}
#firstline{
  font-size: larger;
}
#secondline{
  font-size: 5.4em;
  color: rgb(243, 191, 59);
  margin-top: 0;
  margin-bottom: 0;
}
#header-spoon{
  width: 50px;
}