#last{
  display: flex;
  padding: 2%;
  margin: 5%;
  justify-content: center;
  align-items: center;
  border: 1px solid goldenrod;
}
#last>div{
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#last-logo{
  border-radius: 50%;
  width: 70%;
}
.last-social-img{
  width: 40px;
  height: 40px;
  margin: 4%;
  color: white;
}
#lastcopy{
  width: 25px;
}
#last-h3{
  color: goldenrod;
  text-align: center;
}
.last-play{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.last-store{
  width: 200px;
  height: auto;
  margin: 5%;
}

/* link */
#main{
  display: flex;
  padding: 10%;
}
.footer-li{
  margin: 5%;
  list-style: none;
  font-size: 1.4em;;
}

#last-div3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.outlets-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outlet-sub{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}
.outlet-sub>a{
  text-align: center;
  color: goldenrod;
}
.outlets-img{
  width: 100%;
  border-radius: 10px;
  height: 150px;
  margin: 5%;
}